<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
    
     <ion-title>
          <ion-row>
        <h2 col-12>Christian Womanhood</h2>
        <!-- <div col-1 class="hed-right"> -->
            <!-- <div class="search"><ion-icon ios="ios-search-outline" md="ios-search-outline"></ion-icon></div> -->
            <!-- <div class="cart"> <ion-icon ios="ios-unlock-outline" md="ios-unlock-outline"><span>{{this.countitem}}</span></ion-icon></div> -->
        <!-- </div> -->
      </ion-row>
      </ion-title>
      
    </ion-navbar>
  </ion-header>


<ion-content padding>
   <ion-row *ngIf="this.CATEGORY=='Subscriptions'">
    <ion-grid>
        <ion-row>
          <ion-col col-12 class="details-page">
              <div class="detai-img"><img [src]="this.singledata.product_image"></div>
              <h2>{{this.singledata.product_title}}</h2> 
              <p>{{this.singledata.product_description}}</p>
              <p class="detail-price">Price: ${{this.singledata.price}} </p> 
                <ion-row>
                  <!-- <ion-col col-4>
                    <form>
                      <div class="value-button" id="decrease" (click)="decreaseValue(value)" value="Decrease Value">-</div>
                      <input type="number" id="number" [(ngModel)]="value" name="value"/>
                      <div class="value-button" id="increase" (click)="increaseValue(value)" value="Increase Value">+</div>
                    </form>
                  </ion-col> -->
                  <ion-col col-12 class="cate-detail" >
                     <p>Category: <span>{{this.singledata.product_cat}}</span></p>
                     <p>Tags: <span>{{this.singledata.product_tags}}</span></p>
                  </ion-col>
                </ion-row>


               <a class="add-details-cart" (click)="subscribe_with_paypal(this.singledata.product_id,this.singledata.product_title,this.singledata.product_image,this.singledata.price,this.value)">Subscribe Now</a>
          </ion-col>
      </ion-row> 
    </ion-grid>
  </ion-row>





  <ion-row *ngIf="this.CATEGORY!='Subscriptions'">
    <ion-grid>
        <ion-row>
          <ion-col col-12 class="details-page">
              <div class="detai-img"><img [src]="this.singledata.product_image"></div>
              <h2>{{this.singledata.product_title}}</h2> 
              <p>{{this.singledata.product_description}}</p>
              <p class="detail-price">Price: ${{this.singledata.price}} </p> 
                <ion-row>
                  <ion-col col-4>
                    <form>
                      <div class="value-button" id="decrease" (click)="decreaseValue(value)" value="Decrease Value">-</div>
                      <input type="number" id="number" [(ngModel)]="value" name="value"/>
                      <div class="value-button" id="increase" (click)="increaseValue(value)" value="Increase Value">+</div>
                    </form>
                  </ion-col>
                  <ion-col col-8 class="cate-detail" >
                     <p>Category: <span>{{this.singledata.product_cat}}</span></p>
                     <p>Tags: <span>{{this.singledata.product_tags}}</span></p>
                  </ion-col>
                </ion-row>


               <a class="add-details-cart" (click)="subscribe(this.singledata.product_id,this.singledata.product_title,this.singledata.product_image,this.singledata.price,this.value)">Pay Now</a>
          </ion-col>
      </ion-row> 
    </ion-grid>
  </ion-row>



  <ion-grid class="padd-inner" *ngIf = "this.relatedData != ''">
      <ion-row>
       <ion-col col-12 class="heading-sec inner-heading" >
          <h2>Related products</h2> 
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf = "this.relatedData != ''">
      <ion-row >
        <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView='3' pager="true">
          <ion-slide *ngFor = "let relatedProductlist of relatedData">
          <div class="slider-inner">
              <img (click) = "productDetail(relatedProductlist.product_id)" [src]="relatedProductlist.product_image">
              <h2>{{relatedProductlist.product_title}}</h2>
              <p>${{relatedProductlist.price}}</p>
              <!-- <button class="add-to" type="button" (click) = "addCart(relatedProductlist.product_id)">Add To Cart</button>  -->
          </div>
          </ion-slide>
          </ion-slides>
    </ion-row>
  </ion-grid>

</ion-content>

    

  